.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
}


.bird {
    position: absolute;
    left: -1.25em;
    top: -1em;
    height: 7.5em;
    width: 7.5em;
    background-image: url(../images/bird3.png);
    background-repeat: no-repeat;
    background-size: cover;
 
}
.wing {
    position: absolute;
    left: -1.6em;
    top: -0.1em;
    height: 7.5em;
    width: 7.5em;

    background-image: url(../images/birdwing5.png);
	background-repeat: no-repeat;
    background-size: cover;
 
  	-webkit-animation: flying 0.3s infinite; /* Safari 4+ */
 	animation-timing-function: ease-in ease-out;
}

/* Chrome, Safari, Opera */
@keyframes flying {
  from {
    transform: rotate(-50deg);
  }
  to {
    transform: rotate(50deg);
  }
}

.fontStyle {
    margin-top: 1em;
    font-family: Comic Sans MS, serif;
    font-size: 2.75em;
    font-weight: bold;
    color: white;
    /*text-shadow: 2px 2px #333333;*/
}


.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: purple;
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 10em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}
body {
background: black;
}
.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}



.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;


}

.Background {
	position: absolute;
	background-image: url("../images/BgLong.png");
	top: 50%;
	width: 900em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
}
.Music {

	position: absolute;
	top:0;
	left: 0;

}


.Ground {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../images/ground.png');
    background-size: 30em;
    background-repeat: repeat-x;
    width: 150em;
    height: 5em;
}

.bottom1 , .bottom2, .bottom3 {
    position: absolute;
    /*bottom: 0;*/
    /*right: 0;*/
    background-image: url("../images/tube2.png");
    background-repeat: no-repeat, repeat-y;
    width: 10em;
    height: 35em;/*18em*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top1, .top2, .top3 {
    position: absolute;
    /*top: 0;
    right: 0;*/
    background-image: url("../images/tube1.png");
    background-repeat: no-repeat, repeat-y;
    /*background-position: left bottom;*/
    width: 10em;
    height: 75em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.scoreCount {
    position: absolute;
    color: white;
    font-family: Comic Sans MS, serif;
    font-size: 5.5em;
    font-weight: bold;
    text-shadow: 2px 2px #333333;
    left: 45%;
    top: 1em;
    /*width: 10em;
    height: 10em;*/
}

